@media screen and (max-width: 1340px){
    .delivery-img-1{
        right: unset;
        left: 50%;
        transform: rotate(-9deg) translate(-50%, -50%);
    }
    .delivery-img-2{
        top: 50%;
        transform: rotate(-15deg) translate(-50%, -50%);
    }
}
@media screen and (max-width: 1180px) {
    .container{
        padding: 0 20px;
    }
    .main-screen-img-1{
        left: 10px;
    }
    .main-screen-img-2{
        right: 45px;
    }
    .works-carousel-next{
        right: -15px;
    }
    .works-carousel-prev{
        left: -15px;
    }
}
@media screen and (max-width: 1023px) {
    .main-screen-img-1{
        left: 10px;
    }
    .main-screen-img-2{
        right: 45px;
    }
}
@media screen and (max-width: 480px){
    .works-carousel-next,
    .works-carousel-prev{
        display: none;
    }
    .owl-carousel.works-carousel .owl-stage-outer{
        overflow: visible;
    }
}